body{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

section{
    flex-grow: 1;
}

.Work-section{
    font-size: large;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

footer{
    background-color: black ;
    color: white;
    text-align: center;
    padding:10px;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navTop{
    
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}

.navLiTop{
    display: inline-block;
    padding: 20px 30px ;
} 

.left{
    display: flex; 
    align-items: left; 
    width: 100%; 
}
h1.left{
    margin-bottom: 20px; ;
}

.center.w8{
    margin-bottom: 20px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    
} 


.main{
    display: flex;
    justify-content: space-between;
}

.center{
    text-align: center;
    width: 31%;
    padding: 10px;
    box-sizing: border-box;
}
.center img{
    width: 100%;
max-width: 316px;
height: auto;
border: 1px solid #ccc;
border-radius: 5px;

}

.center p{
    margin: 10px 0;
}

.center button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;

}

.center button:hover{

    background-color: black;
}

.image-container {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
  }
  
  .image-container img {
    width: 316px;
    height: 389px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin-right: 10px; /* Add spacing between images, adjust as needed */
  }




/* .jumboMargin{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1000px;
} */

button{
font-size: large;
color: white;
background-color:black;
width: 400px;

}

.w8 {
    width: 300px;
}



.center{
   margin: 10px; 
}

section{
height: 600px;
padding: 25px;
width: 1000px;
margin: 0 auto;
font-family:Verdana, Geneva, Tahoma, sans-serifS

}

@media only screen and (max-width: 600){
    .jumboMargin{
        display:grid;
        grid-template-columns: 1fr;
      margin-top: 1000px;
    }
}


